.center {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    text-align: center;
}

.centerL {
    width: 240px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.centerR {
    width: 240px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(150%,-50%);
    text-align: center;
}

.sizeH {
    margin-block-start: 0px;
    margin-block-end: 0px;
    height: 40px;
}

.sizeP {
    margin-block-start: 0px;
    margin-block-end: 0px;
    height: 20px;
}

.canvas {
    height: 300px;
    width: 300px;
    border-spacing: 0px;
}

.block{
    height: 5px;
    width: 5px;
    padding: 0px;
}

.A250 {
    background-color: #FAFAFA;
}

.A225 {
    background-color: #E1E1E1;
}

.A200 {
    background-color: #C8C8C8;
}

.A175 {
    background-color: #AFAFAF;
}

.A150 {
    background-color: #969696;
}
